
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #333;
}


.ball {
    background-color: indigo;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: grab;
}


