
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #333;
}


#ttt {
    background-color: forestgreen;
}

#parent {
    background-color: bisque;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: grab;
}


